zeroconf==0.146.1
prettytable==3.15.1
click==8.1.8
pydantic==2.10.6
platformdirs==4.3.6
requests==2.32.3
cryptography==44.0.2
trustpoint-devid-module==0.2.3

ruff==0.11.2

sphinx==8.2.3
sphinxcontrib-plantuml==0.30
pillow==11.1.0
furo==2024.8.6
docutils-stubs==0.0.22
sphinx-click==6.0.0